<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            {% for item in navbar %}
            <li><a href="{{ item.link }}">{{ item.label }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <h1>Welcome, {{ user.username }}</h1>
    <div id="dash-container">
        <iframe src="{{ dash_url }}" style="width: 100%; height: 600px; border: none;"></iframe>
    </div>
</body>
</html>